@import "start-settings";

@import "fonts";

@import "variables";

@import "blocks/header";

@import "blocks/login";

@import "./blocks/dashboard";

body {
    background: #000;
}

.wrapper {
    width:100vw;
    height:100vh;
}