@import "start-settings";

@import "fonts";

@import "variables";

@import "blocks/header";

@import "blocks/login";

@import "./blocks/dashboard";

@import "loader";


body {
    background: #000;
}

.wrapper {
    width:100vw;
    height:100vh;
}

.dark {
    position: absolute;
    background: #000;
    width: 100vw;
    height:100vh;
    opacity: 0;
    top:0;
    left:0;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 9;
}